[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
venv-pack = "*"
pyspark = "==3.5.1"

[dev-packages]
pytest = "*"
chispa = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.5"
